@import "/styles/scss/_functions";
@import "/styles/scss/_mixins.scss";

.header_container {
    @include center();
    justify-content: space-around;
    flex-direction: column;
    height: get-vh(383px);
}