@import '/styles/scss/scssExports';

.arrowLeft {
    position: absolute;
    left: 40px;
    cursor: pointer;
    z-index: 10;
    @include noteBook{
        left: 25px;
    }
    @include mobile{
        left: 5px;
    }
}
.arrowRight {
    position: absolute;
    right: 40px;
    cursor: pointer;
    z-index: 10;
    @include noteBook{
        right: 25px;
    }
    @include mobile{
        right: 5px;
    }
}
