@import "/styles/scss/scssExports";

.arrowLeft {
    position: absolute;
    left: 46.3%;
    cursor: pointer;
    z-index: 1;
    @include noteBook {
        left: 45.3%;
        max-width: 29px;
        max-height: 25px;
        bottom: -28px;
    }
    @include mobile {
        left: 38.3%;
        max-width: 19px;
        max-height: 20px;
        bottom: -34px;
    }
}
.arrowRight {
    position: absolute;
    left: 51.5%;
    cursor: pointer;
    z-index: 1;
    @include noteBook {
        left: 51.5%;
        max-width: 29px;
        max-height: 25px;
        bottom: -28px;
    }
    @include mobile {
        left: 56.3%;
        max-width: 19px;
        max-height: 20px;
        bottom: -34px;
    }
}
