@import "/styles/scss/scssExports";

.container {
    @include flex-around();
    margin-top: 12px !important;
    width: 100%;

    @include tablet {
        margin: 14px 0 !important;
    }
    @include mobile {
        margin: 19px 0 0 !important; 
    }
}
