@import "/styles/scss/scssExports";

.container {
    @include flex-around();
    margin-top: 12px;
    width: 100%;

    @include tablet {
        margin: 14px 0;
    }
    @include mobile {
        margin: 19px 0 0;
    }
}
