@import "/styles/scss/scssExports";

$containerWidth: 716px;

.container {
    @include flex-start();
    align-items: flex-start;
    width: 50%;
    height: 100%;
    padding-top: 47px !important;
    .content {
        @include flex-between();
        width: get_percent(431px, $containerWidth);
        @include mobile {
            width: 100%;
            align-items: flex-start;
            padding-top: 30px;
        }
    }

    @include noteBook {
        @include flex-start();
        align-items: flex-start;
        padding-top: 44px !important;
    }
    @include tablet {
        @include flex-start();
        align-items: flex-start;
        padding-top: 44px !important;
    }
    @include mobile {
        width: 100%;
        padding: 14px 0 0 0 !important;
    }
}
