@import "/styles/scss/scssExports";

$backgroundColor: rgba(255, 255, 251, 0.09);
$inputBackColor: rgba(196, 196, 196, 0.2);
$inputBorderColor: rgba(255, 255, 255, 0.5);
$errorInputBackColor: rgba(158, 9, 74, 0.13);
$errorInputBorderColor: #9e094a21;
$containerWidth: 767px;

@mixin input {
    @include arsenal-font();
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0.19em;
    padding: 9.5px 18px 9.5px 18px;
    color: rgba(255, 255, 255, 0.31);
    box-sizing: border-box;
    border-radius: 8px;
    outline: none;
    @include tablet {
        padding: 20.5px 6px 20.5px 6px;
    }
    @include mobile {
        padding: 13px 6px 12px 6px;
    }
}

@mixin success {
    border: 1px solid $inputBorderColor;
    background: $inputBackColor;
}

@mixin error {
    border: 1px solid $errorInputBorderColor;
    background: $errorInputBackColor;
}

@mixin successInput {
    @include input();
    @include success();
}

@mixin errorInput {
    @include input();
    @include error();
}

.container {
    border: 1px solid #eeecec;
    box-sizing: border-box;
    height: 100%;
    padding: 29px 68px;
    width: 100%;

    @include tablet {
        min-width: 637px;
        padding: 14px 33px;
    }

    @include mobile {
        min-width: 349px;
        padding: 0 24px;
    }
    .content {
        width: 100%;

        @include mobile {
            max-width: 301px;
        }

        form {
            .input_success {
                @include successInput();
            }
            .input_error {
                @include errorInput();
            }
            .name {
                input {
                    width: 100%;
                    @include tablet {
                        @include arimo-font();
                        font-size: 16px;
                        line-height: 20px;
                        letter-spacing: 0.19em;
                    }
                    @include mobile {
                        @include arsenal-font();
                        font-size: 10px;
                        line-height: 13px;
                        letter-spacing: 0.19em;
                    }
                }
            }
            .card_number_content {
                margin-top: 21px;
                @include tablet {
                    margin-top: 10px;
                }
                @include mobile {
                    margin-top: 8px;
                }
                p {
                    @include arsenal-font();
                    font-size: 15px;
                    line-height: 19px;
                    letter-spacing: 0.12em;

                    @include mobile {
                        font-size: 11px;
                        line-height: 14px;
                        letter-spacing: 0.12em;
                    }
                }
                .card_number_inputs {
                    display: grid;
                    grid-template-columns: repeat(4, 19.4%);
                    grid-column-gap: 4.6%;
                    @include tablet {
                        grid-template-columns: repeat(5, 1fr);
                        grid-column-gap: 50px;
                    }
                    @include mobile {
                        grid-template-columns: repeat(5, 1fr);
                        grid-column-gap: 20px;
                    }

                    input {
                        text-align: center;
                        @include tablet {
                            max-width: 82px;
                            @include arimo-font();
                            font-size: 16px;
                            line-height: 20px;
                            letter-spacing: 0.19em;
                        }
                        @include mobile {
                            @include arsenal-font();
                            max-width: 60px;
                            font-size: 10px;
                            line-height: 13px;
                        }
                    }
                }
            }
            .cvv {
                margin-top: 19px;
                @include tablet {
                    margin-top: 14px;
                }
                @include mobile {
                    margin-top: 13px;
                }
                input {
                    width: get_percent(157px, $containerWidth);
                    @include tablet {
                        min-width: 207px;
                        @include arimo-font();
                        font-size: 16px;
                        line-height: 20px;
                        letter-spacing: 0.19em;
                    }
                    @include mobile {
                        @include arsenal-font();
                        min-width: 84px;
                        font-size: 10px;
                        line-height: 13px;
                    }
                }
            }
            .active_untill {
                margin-top: 19px;
                @include tablet {
                    margin-top: 14px;
                }
                @include mobile {
                    margin-top: 13px;
                }
                input {
                    width: get_percent(157px, $containerWidth);
                    @include tablet {
                        min-width: 207px;
                        @include arimo-font();
                        font-size: 16px;
                        line-height: 20px;
                        letter-spacing: 0.19em;
                    }
                    @include mobile {
                        @include arsenal-font();
                        min-width: 84px;
                        font-size: 10px;
                        line-height: 13px;
                    }
                }
            }
            .success {
                @include center();
                margin-top: 47px;

                @include tablet {
                    margin-top: 45px;
                    margin-bottom: 15px;
                }
                @include mobile {
                    margin-top: 5px;
                }
                button {
                    padding: 10px 64px;
                    border-radius: 8px;
                    background-color: $buttonsColor;
                    color: white;
                    @include arimo-font();
                    font-size: 19px;
                    line-height: 22px;
                    letter-spacing: 0.14em;
                    cursor: pointer;
                    outline-style: none;
                    border: none;
                    @include tablet {
                        font-size: 16px;
                        line-height: 18px;
                        padding: 12px 31px;
                    }
                    @include mobile {
                        padding: 5px 17px;
                        font-size: 12px;
                        line-height: 14px;
                    }
                }
            }
        }
    }
}
