@import '/styles/scss/scssExports';

$contentWidth: 171px;
$contentHeight: 53px;

.container {
    display: block;
    .content {
        @include center();
        width: get-vw($contentWidth);
        height: get-vw($contentHeight);

        position: fixed;
        left: get-vw(47px);
        border-radius: 0;
        background: rgba(21, 17, 37, 0.63);
        p {
            @include arimo-font();
            font-size: 19px;
            line-height: 22px;
            letter-spacing: 0.05em;
        }
    }
}
