@import "/styles/scss/scssExports";
@import url("https://fonts.googleapis.com/css2?family=Arsenal&display=swap");
$modalHeight: 601px;
$modalWidth: 634px;

.m_container {
    .m_content {
        .container {
            * {
                margin: 0;
                padding: 0;
                font-family: Arimo;
            }
            width: get-percent(362px, $modalWidth);
            margin: 183px 135px;
            @include column_center();
            min-width: 235px;

            .title {
                width: 100%;
                @include center();
                p {
                    width: 100%;
                    @include arimo-font();
                    font-size: 30px;
                    line-height: 34px;
                    letter-spacing: 0.1em;
                    @include mobile {
                        width: 100%;
                        @include arimo-font();
                        font-size: 19px;
                        line-height: 22px;
                        letter-spacing: 0.1em;
                    }
                }
            }
            .icon_container {
                margin-top: 67px;
            }
        }
        @include mobile {
            @include center();
            width: 100vw !important;
            height: 100vh !important;
            margin: 0;
        }
    }
    @include mobile {
        height: 100%;
    }
}
