@import "/styles/scss/scssExports";

.container {
    width: 100%;
    
    .content {
        width: 100%;
        @include flex-around();
        padding-right: 10px;
        .user_photo {
            @include center();
            max-width: 36px;
            max-height: 36px;
            img {
                width: 100%;
                height: 100%;
                cursor: pointer;
                border-radius: 100%;
            }
        }
        .user_fullName {
            span {
                cursor: pointer;
                white-space: nowrap;
                margin-left: 2px;
                @include arimo-font();
                font-size: 13px;
                line-height: 134%;
                letter-spacing: 0.06em;
            }
        }
    }
}
