@import "/styles/scss/scssExports";

.container {
    width: 100%;
    @include tablet {
        @include flex-end();
    }
    .content {
        width: 100%;
        @include flex-around();
        padding-right: 10px;
        @include tablet {
            @include center();
            width: auto
        }
        .user_photo {
            @include center();
            max-width: 36px;
            max-height: 36px;
            img {
                cursor: pointer;
                border-radius: 100%;
                min-width: 30px;
                min-height: 30px;
            }
        }
        .user_fullName {
            @include tablet {
                @include center();
            }
            .fullname {
                @include tablet {
                    display: none;
                }
            }
            span {
                cursor: pointer;
                white-space: nowrap;
                margin-left: 2px;
                @include arimo-font();
                font-size: 13px;
                line-height: 134%;
                letter-spacing: 0.06em;
                @include tablet{
                    font-size: 16px;
                    margin-left: 12px;
                }
            }
        }
    }
}
