@import "/styles/scss/scssExports";

$containerWidth: 1903px; // without scrollbar
$contentWidth:1533px;
$leftContentwidth: 691px;
$rightContentWidth: 767px;

.container {
    width: 100%;
    position: relative;
    margin-top: 40px;
    @include center();
    .content {
        width: get_percent($contentWidth, $containerWidth);
        display: grid;
        grid-column-gap: 75px;
        grid-template-columns: get_percent($leftContentwidth, $contentWidth) get_percent($rightContentWidth, $contentWidth);
        .img {
            position: relative;
        }
        .form {
            position: relative;
        }
    }
}
