@import "/styles/scss/scssExports";

$labelBackgroundColor: rgba(196, 196, 196, 0.2);

.uploadImageConteiner {
    @include center();
    margin-bottom: 4%;
    width: 100%;

    @include mobile {
        @include flex-end();
        min-width: 289px;
        min-height: 183px;
    }

    label {
        width: get-vw(325px);
        height: get-vw(270px);
        min-width: 150px;
        min-height: 120px;
        @include center();

        @include mobile {
            min-width: 289px;
            min-height: 183px;
            margin-right: 10px;
        }

        .uploadImageContent {
            @include center();
            width: 100%;
            height: 100%;
            background: $labelBackgroundColor;
            border: 1px solid #ffffff;
            box-sizing: border-box;
            border-radius: 8px;
            cursor: pointer;
            img {
                @include mobile {
                    max-width: 35px;
                    max-height: 38px;
                }
            }
        }
    }
}
