$labelsBackgroundColor:rgba(255, 255, 251, 0.09);

@mixin vw($px, $vw:1920) {
    width: ($px * 100) / 1920 + vw;
}

@mixin vh($px) {
    height: ($px * 100) / 1920 + vh;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.uploadImageConteiner {
    @include center();
    width: 100%;
    padding: 1% 0;

    label {
        @include vw(270);
        @include vh(320);
        @include center();

        .uploadImageContent {
            @include center();
            width: 100%;
            height: 100%;
            background: $labelsBackgroundColor;
            border: 1px solid #FFFFFF;
            box-sizing: border-box;
            border-radius: 8px;
            cursor: pointer;
        }
    }
}