@import '/styles/scss/scssExports';

.container{
    width: 100%;
    @include column-center();

    .buttons{
        @include flex-evenly();
        width: 50%;
        height: get_vw(57px);
        margin-top: get_percent(60px);
    }
}