@import "/styles/scss/_functions";
@import "/styles/scss/_mixins.scss";
@import "/styles/scss/_variables.scss";

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar_item_container {
    @include center();
    justify-content: space-between;
    width: 19.93%;
    min-width: 236px;

    .auth_container {
        width: 100%;
        @include center();
        justify-content: flex-start;

        .auth_buttons {
            width: 100%;
            @include flex-around();
            border-right: 2px solid white;

            .sign_up_button {
                width: get_percent(130px, 252px);
                @include flex-around();
            }

            .sign_in_button {
                width: get_percent(75px, 252px);
                @include flex-around();
            }

            span {
                cursor: pointer;
                font-family: Arimo;
                font-size: 18px;
                line-height: 21px;
            }

            img {
                cursor: pointer;
            }
        }
    }
    .lang_button {
        width: 25%;
        margin-left: 20px;
        position: relative;
        .lang_button_content {
            @include center();
            width: 100%;
            justify-content: space-around;

            span {
                cursor: pointer;
                font-family: Arimo;
                font-size: 18px;
                line-height: 21px;
            }
            img {
                cursor: pointer;
            }
        }
    }
}
