@import "/styles/scss/scssExports";

.dropdown {
  z-index: 1;
  margin-top: 13px;

  &_menu {
    margin-top: 20px;
    background: #12112c;
    border: 1px solid #7e1a4a;
    position: absolute;
    left: 6%;
    z-index: 11;

    .dropdown_list {
      margin: unset;
      padding: 15px 45px 22px 13px;
      list-style: none;
      @include column-start();

      &_items {
        padding: 9px 0;
        border-bottom: 1px solid rgba(126, 26, 74, 0.19);
      }
    }
  }
  .dropdown_check {
    display: none;

    @include tablet {
      @include center();
    }
  }
}
