@import "/styles/scss/scssExports";
$conteinerWidth: 752px;

.conteiner {
    @include center();
    width: 100%;
    @include arsenal-font();
    @include mobile {
        margin-top: 51px;
    }
    button {
        cursor: pointer;
        background: #9e094a;
        border-radius: 8px;
        padding: 2.7% 4.7%;
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 0.12em;
        color: #ffffff;
        border: none;
        outline: none;
        @include mobile {
            @include arsenal-font();
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.16em;
        }
    }
}
