$context_width: 1920px;
$context_height: 1080px;
$primaryBackground: #12112c;
$pink: #9f0b45;
$buttonsColor: #9f0b45;
$silver: rgba(255, 255, 255, 0.04);
$darkedSilver: rgba(255, 255, 255, 0.09);
$drliSilver: rgba(255, 255, 255, 0.06);
$lightSilver: rgba(255, 255, 255, 0.23);
