@import '/styles/scss/scssExports';

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar_container {
    @include center();
    justify-content: space-between;
    width: get_percent(1740px);
}