@import "/styles/scss/scssExports";

$yellow: #d8c622;

.container {
    width: 100%;
    @include tablet {
        @include center();
    }
    .content {
        background-color: $yellow;
        position: relative;
        @include tablet {
            margin-bottom: 25px;
        }
        @include mobile {
            right: -5%;
            bottom: 10%;
        }

        .imageContainer {
            width: 21vw;
            height: 26vw;
            transform: translate(10px, 10px);
            background-color: #12112C;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 15vw;
                height: 15vw;
                @include tablet {
                    right: -5%;
                    bottom: 2%;
                }
                @include mobile {
                    right: -5%;
                    bottom: 2%;
                }
            }
        }
    }
}
