@import "/styles/scss/scssExports";

.container {
    margin-top: 52px;
    margin-bottom: 213px;
    @include center();
    @include tablet{
        margin-top: 20px
    }
    @include mobile{
        margin-top: 15px
    }
    .content {
        @include column-center();
        width: 100%;
    }
}
