@import "/styles/scss/scssExports";

$parentWidth: 1425px;

.container {
    margin-top: 50px;
    @include noteBook {
        margin-top: 40px;
    }
    @include tablet {
        display: none;
    }
    @include center();
    .content {
        width: get_percent(923px, $parentWidth);
        @include flex-between();
        .button {
            width: auto;
            @include noteBook {
                margin-left: 25px;
            }
            div {
                pre {
                    padding: 17.5px 47px;
                    @include noteBook {
                        padding: 14px 35px;
                    }
                }
            }
        }
    }
}
