@import "/styles/scss/scssExports";

$parentWidth: 1425px;

.container {
    margin-top: 50px;
    @include center();
    .content {
        width: get_percent(923px, $parentWidth);
        @include flex-between();
        .button {
            padding: 14px 52px;
        }
    }
}
