@import '/styles/scss/scssExports';

$parent-width:537px;

.conteiner {
    width: 100%;
    @include center();

    .content {
        width: 100%;
        @include center();
        justify-content: space-evenly;

        .iconContent {
            width:get_percent(76px, $parent-width);
            height: get_percent(76px, $parent-width );

            .iconBody {
                @include center();

                .icon {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}