@import "/styles/scss/scssExports";

.container {
    width: 100%;
    .title {
        @include arsenal-font();
        font-weight: bold;
        font-size: 21px;
        line-height: 26px;
        letter-spacing: 0.06em;
        @include tablet {
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.06em;
        }
        @include mobile {
            font-size: 10px;
            line-height: 11px;
            letter-spacing: 0.06em;
        }
    }
    .body {
        @include arsenal-font();
        margin: 16px 0;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 0.06em;
        @include tablet {
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.06em;
        }
        @include mobile {
            font-size: 9px;
            line-height: 11px;
            letter-spacing: 0.06em;
        }
    }
}
