@import '/styles/scss/scssExports';

$containerWidth: 1593px;
$contentWidth: 1407px;
$buttonsContentWidth: 435px;
$backColor: #0c0b22;

.container {
    @include column-center();
    background-color: $backColor;
    padding: 39px 0 27px 0;
    position: relative;
    .content {
        @include column-center();
        width: get_percent($contentWidth, $containerWidth);
        
        .day_change_buttons {
            @include flex-between();
            margin-top: 35px;
            width: get_percent($buttonsContentWidth, $contentWidth);
        }
        .calendar{
            position: absolute;
            top: 37px;
            right: 125px;
            cursor: pointer;
            .calendar_body{
                // position: relative;
            }
        }
    }
}
