@import "/styles/scss/scssExports";

$footerBackColor: rgba(255, 255, 255, 0.09);
$contentWidth: 1432px;

.container {
    display: none !important;
    * {
        margin: 0;
        padding: 0;
    }
    @include flex-end();
    height: get-vw(235px);
    min-height: 230px;
    min-width: 1900px;
    background-color: $footerBackColor;
    bottom: 0;
    .content {
        @include center();
        width: get_percent($contentWidth);
        height: 100%;
    }
    .ball {
        position: absolute;
        bottom: 0;
        right: 0;
        overflow: hidden;
        z-index: -1;
    }
}
