@import "/styles/scss/scssExports";

.container {
    margin-top: 50px;
    .board {
        display: grid;
        grid-row-gap: 23px;
        max-height: 463px;
        overflow: auto;
        @include scrollbar(11px, white, #1b1a30);
        @include tablet {
            max-height: 1074px;
            grid-row-gap: 25px;
        }
    }
    @include animation();
}
