@import '/styles/scss/scssExports';

.container {
    background: none;
    overflow: hidden;
    z-index: 10;
    .content {
        width: get-vw(297px);
        border-radius: 0;
        border: 1px solid #D10A52;
        .modal_content {
            width: 100%;
            .content_container {
                width: 100%;
                .top {
                    @include flex-end();
                    position: relative;
                    padding: 9px;
                    background-color: #D10A52;
                    img{
                        cursor: pointer;
                    }
                }
                .rows {
                    width: 100%;
                    display: grid;
                    grid-row-gap: 0;
                    .row {
                        width: 100%;
                        display: grid;
                        grid-template-columns: 1fr 5fr;
                        .img {
                            border-bottom: 1px solid #D10A52;
                            padding: 2px;
                            @include center();
                            background: #161124;
                            img{
                                cursor: pointer;
                            }
                        }
                        .text {
                            @include flex-start();
                            p{
                                margin-left: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}
.open {
    position: absolute;
    @include animation-left-right();
}
.close {
    position: absolute;
    @include animation-right-left();
}
