@import "/styles/scss/_functions";
@import "/styles/scss/_mixins.scss";
@import "/styles/scss/_variables.scss";

.container {
    background: none;
    overflow: hidden;
    .content {
        position: absolute;
        @include animation-left-right;
    }
    .close {
        position: absolute;
        @include animation-right-left;
    }
}
