@import '/styles/scss/scssExports';
@import url("https://fonts.googleapis.com/css2?family=Arsenal&display=swap");
$modalHeight: 601px;
$modalWidth: 634px;

.container {
    * {
        margin: 0;
        padding: 0;
        font-family: Arimo;
    }

    width: get-percent(536px, $modalWidth);
    margin: get-percent(198px, $modalWidth) 0;
    @include column-center();

    .title {
        @include center();
        width: 100%;
        p {
            font-size: 30px;
            line-height: 34px;
            letter-spacing: 0.1em;
        }
    }
    form {
        width: 100%;
        margin-top: 39px;

        .inputs {
            width: 100%;
            input {
                font-size: 16px;
                line-height: 18px;
                padding: 3% 4.8% !important;
                width: 100% !important;
                color: rgba(255, 255, 255, 0.31) !important;
                background-color: rgba(255, 255, 255, 0.12);
            }
        }
    }
    .submit {
        @include center();
        width: 100%;
        margin-top: 29px;
        button {
            width: 100%;
            padding: 2.7%;
            font-size: 20px;
            line-height: 23px;
            letter-spacing: 0.14em;
            color: #ffffff;
            background: $buttonsColor;
            border-radius: 8px;
            border: none;
            outline: none;
            cursor: pointer;
        }
    }
}
