@import "/styles/scss/scssExports";

$parentWidth: 1414px;
$rightContentWidth: 832px;
$leftContentWidth: 582px;
$buyedButtonBackColor: rgba(255, 255, 255, 0.2);
$buyedButtonColor: rgba(255, 255, 255, 0.3);
$buyButtonHover: #a10b45;

@mixin desription {
  display: grid;
  grid-template-columns:
    get_percent(186px, $rightContentWidth)
    max-content
    get_percent(193px, $rightContentWidth)
    get_percent(130px, $rightContentWidth)
    get_percent(100px, $rightContentWidth)
    auto;
}

@mixin buyedButton {
  padding: 3.835% 12.62%;
  background-color: $buyedButtonBackColor;
  color: $buyedButtonBackColor;
  border-radius: 8px;
}

@mixin buyButton {
  padding: 3.835% 12.62%;
  border: 1px solid #ffffff;
  border-radius: 8px;
}

@mixin buyButtonHover {
  background-color: $buyButtonHover;
  border: none;
}

@mixin descriptionText {
  @include arsenal-font();
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.1em;
}

.container {
  width: 100%;
  background-color: $darkedSilver;
  .content {
    min-height: get-vh(45px);
    display: grid;
    // 11 px is a scrolbar width
    grid-template-columns:
      get_percent($leftContentWidth, $parentWidth)
      get_percent($rightContentWidth, $parentWidth);
    overflow: auto;
    @include tablet {
      position: relative;
    }

    @include tablet {
      @include column-center();
    }
    .left {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr 2fr;
      padding-top: 5px;
      @include tablet {
        width: 100%;
        grid-template-columns: 0.3fr 39.6319% 0.7fr 43.6%;
        padding-top: 20px;
      }
      div {
        @include center();
        @include tablet {
          justify-content: flex-end;
          align-items: center;
          flex-direction: column-reverse;
        }
        img {
          width: 60px;
          @include tablet {
            min-width: 60px;
          }
          @include mobile {
            min-width: 28px;
            min-height: 39px;
          }
        }
        span {
          @include arsenal-font();
          font-size: 21px;
          line-height: 26px;
          letter-spacing: 0.05em;
          @include tablet {
            font-size: 16px;
            line-height: 21px;
            letter-spacing: 0.05em;
          }
          @include mobile {
            @include sergio-font();
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.05em;
          }
        }
        .order {
          margin-left: 200%;
        }
        .vs {
          @include tablet {
            display: none;
          }
        }
      }
      .teamOne {
        @include flex-around();
        @include tablet {
          flex-direction: column-reverse;
        }
      }
      .teamTwo {
        @include flex-around();
        @include tablet {
          flex-direction: column-reverse;
        }
      }
      .vs {
        @include tablet {
          display: none;
        }
      }
    }
    .right {
      @include desription();

      @include tablet {
        @include flex-between();
        padding-bottom: 19px;
        margin-top: 22px;
      }
      div {
        @include center();
      }
      .prediction {
        width: 100%;
        height: 100%;
        padding: 0 5px;

        @include tablet {
          order: 2;
          width: auto;
        }

        .prediction_content {
          background-color: $pink;
          padding: 7px 35px;
          max-width: 100%;

          @include center();

          @include noteBook {
            min-width: 95px;
            padding: 7px 2px;
          }

          @include tablet {
            @include column-center();
            background: none;
            padding: 7px 0;
            min-width: 107px;
          }

          .prediction_title {
            display: none;
            @include tablet {
              display: block;
              @include arimo-font();
              font-size: 14px;
              line-height: 16px;
              letter-spacing: 0.15em;
              margin-bottom: 4px;
            }
            @include mobile {
              font-size: 11px;
              line-height: 13px;
              letter-spacing: 0.15em;
            }
          }
          .prediction_body {
            @include tablet {
              border: 1px solid white;
              padding: 4px 2px;
            }
            @include noteBook {
              padding: 4px 0px;
            }
            span {
              @include arimo-font();
              font-weight: bold;
              font-size: 15px;
              line-height: 17px;
              text-align: center;
              white-space: nowrap;
              @include noteBook {
                font-size: 12px;
                letter-spacing: 0px;
              }
              @include tablet {
                @include sergio-font();
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.1em;
              }
              @include mobile {
                font-weight: 350;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0;
              }
            }
          }
        }
      }
      .simulator {
        @include tablet {
          min-width: 107px;
        }
        @include mobile {
          min-width: 100px;
        }
      }
      .date_time {
        @include flex-around();
        @include tablet {
          flex-direction: column;
          justify-content: center;
          min-height: 109px;
          min-width: 107px;
          border-left: 1px solid white;
          border-right: 1px solid white;
          position: absolute;
          top: 0 !important;
          left: 50%;
          transform: translateX(-50%);
        }
        .date {
          span {
            @include descriptionText();
            @include tablet {
              @include sergio-font();
              font-size: 14px;
              line-height: 19px;
              letter-spacing: 0.1em;
            }
            @include mobile {
              font-size: 12px;
              line-height: 16px;
              letter-spacing: 0.05em;
            }
          }
        }
      }
      .type {
        @include tablet {
          display: none;
        }
        span {
          @include descriptionText();
        }
      }
      .coefficent {
        @include tablet {
          display: none;
        }
        span {
          padding: 6px 10px;
          background: rgba(27, 26, 48, 0.56);
          border-radius: 6px;
          @include descriptionText();
        }
      }
      .coefficentForMobile {
        display: none;
        @include tablet {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 100%;
        }
        p {
          margin: 0;
          margin-top: 20px;
          margin-bottom: 4px;
          font-size: 14px;
          font-weight: 700;
        }
        span {
          padding: 0px 15px;
          background: unset;
          border-radius: 0px;
          border: 1px solid white;
          @include descriptionText();
          font-size: 12px;
          font-weight: 300;
        }
      }
      .price {
        @include tablet {
          width: 50%;
          min-width: 303px;
          order: 3;
          @include column-center();
          padding-left: 1%;
        }
        @include mobile {
          min-width: 95px;
        }
        span {
          @include descriptionText();
          @include tablet {
            @include sergio-font();
            font-size: 14px;
            line-height: 19px;
            letter-spacing: 0.05em;
          }
          @include mobile {
            font-weight: 350;
            font-size: 13px;
            line-height: 17px;
            letter-spacing: 0.05em;
            padding-left: 10%;
          }
        }
      }
      .buyButton_container {
        @include tablet {
          width: 50%;
          order: 1;
          min-width: 300px;
          padding-left: 3%;
        }
        @include mobile {
          min-width: 100px;
          padding-left: 0;
        }
        .button_content {
          @include center();
          cursor: pointer;
          // @include buyedButton();
          @include buyButton();
          width: 100%;
          max-width: 102px;
          max-height: 35px;
          @include tablet {
            max-width: 79px;
            padding: 4px 15px;
          }
          @include mobile {
            max-width: 49px;
            padding: 3.5px 6.5px;
          }
          span {
            @include descriptionText();
            font-weight: bold;
            @include tablet {
              font-size: 14px;
              line-height: 18px;
              letter-spacing: 0.1em;
            }
            @include mobile {
              font-size: 10px;
              line-height: 13px;
              letter-spacing: 0.1em;
            }
          }
          &:hover {
            @include buyButtonHover();
          }
        }
      }
    }
  }
}
