@import "/styles/scss/scssExports";

.container {
    @include tablet {
        margin-top: 32px;
        max-height: 40px;
    }
    .content {
        @include flex-start();

        @include tablet {
            @include center();
        }

        span {
            @include arimo-font();
            font-size: 22px;
            line-height: 134%;
            letter-spacing: 0.13em;
            padding: 13px 48px;
            border: 1px solid white;
            border-radius: 8px;
            background: none;
            cursor: pointer;
            @include tablet {
                font-size: 13px;
                padding: 11.5px 47px;
                text-transform: uppercase;
            }
            @include mobile {
                letter-spacing: 0.14em;
            }
            &:hover {
                background-color: $buttonsColor;
                border: 1px solid $buttonsColor;
            }
        }
        .active {
            background-color: $buttonsColor;
            border: 1px solid $buttonsColor;
        }
    }
}
