@import "/styles/scss/scssExports";

.container {
    * {
        margin: 0;
        padding: 0;
    }
    padding: 32px 40px 20px;
    @include tablet {
    }
    @include mobile {
        padding: 6px 15px;
    }
}
