@import "/styles/scss/scssExports";

$parentWidth: 1414px;
$rightContentWidth: 832px;
$leftContentWidth: 582px;
$buyedButtonBackColor: rgba(255, 255, 255, 0.2);
$buyedButtonColor: rgba(255, 255, 255, 0.3);
$buyButtonHover: #a10b45;

@mixin desription {
    display: grid;
    grid-template-columns:
        get_percent(186px, $rightContentWidth)
        get_percent(86px, $rightContentWidth)
        get_percent(92px, $rightContentWidth)
        get_percent(101px, $rightContentWidth)
        get_percent(130px, $rightContentWidth)
        get_percent(100px, $rightContentWidth)
        auto;
}

@mixin buyedButton {
    padding: 3.835% 12.62%;
    background-color: $buyedButtonBackColor;
    color: $buyedButtonBackColor;
    border-radius: 8px;
}

@mixin buyButton {
    padding: 3.835% 12.62%;
    border: 1px solid #ffffff;
    border-radius: 8px;
}

@mixin buyButtonHover {
    background-color: $buyButtonHover;
    border: none;
}

@mixin descriptionText {
    @include arsenal-font();
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.1em;
}

.container {
    width: 100%;
    background-color: $darkedSilver;
    .content {
        display: grid;
        // 11 px is a scrolbar width
        grid-template-columns:
            get_percent($leftContentWidth, $parentWidth)
            get_percent($rightContentWidth, $parentWidth);
        overflow: auto;
        .left {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            padding-top: 5px;
            div {
                @include center();
                span {
                    @include arsenal-font();
                    font-size: 21px;
                    line-height: 26px;
                    letter-spacing: 0.05em;
                }
            }
        }
        .right {
            @include desription();
            div {
                @include center();
            }
            .prediction {
                width: 100%;
                height: 100%;
                .prediction_content {
                    background-color: $pink;
                    padding: 7px 35px;
                    @include center();
                    span {
                        @include arimo-font();
                        font-weight: bold;
                        font-size: 15px;
                        line-height: 17px;
                        text-align: center;
                        white-space: nowrap;
                    }
                }
            }
            .date {
                span {
                    @include descriptionText();
                }
            }
            .type {
                span {
                    @include descriptionText();
                }
            }
            .coefficent {
                span {
                    padding: 6px 10px;
                    background: rgba(27, 26, 48, 0.56);
                    border-radius: 6px;
                    @include descriptionText();
                }
            }
            .price {
                span {
                    @include descriptionText();
                }
            }
            .buyButton_container {
                .button_content {
                    @include center();
                    cursor: pointer;
                    // @include buyedButton();
                    @include buyButton();
                    p {
                        @include descriptionText();
                        font-weight: bold;
                    }
                    &:hover {
                        @include buyButtonHover();
                    }
                }
            }
        }
    }
}
