@import "/styles/scss/scssExports";

.container {
    margin-top: 50px;
    width: get-vw(1425px);
    .board {
        display: grid;
        grid-row-gap: 45px;
        max-height: 720px;
        overflow: auto;
        @include scrollbar(11px, white, #1b1a30);
    }
    @include animation();
}
