@import "/styles/scss/scssExports";

.container {
    margin-top: 50px;
    width: get-vw(1425px);

    @media (max-width: 1400px) {
      width: get-vw(1825px);
    }

    @include tablet {
        margin-top: 35px;
        width: 100vw;
    }
    @include mobile {
        margin-top: 20px;
    }
    .board {
        display: grid;
        grid-row-gap: 45px;
        max-height: 720px;
        overflow: auto;
        @include scrollbar(11px, white, #1b1a30);
        @include tablet {
            grid-row-gap: 15px;
            max-height: none
        }
    }
    @include animation();
}
