$context_width: 1920px;
$context_height: 1080px;
$primaryBackground: #12112c;
$pink:#9F0B45;
$buttonsColor:#9F0B45;
$silver:rgba(255, 255, 255, 0.04);
$darkedSilver:rgba(255, 255, 255, 0.09);
$lightSilver:rgba(255, 255, 255, 0.23);


