@import "/styles/scss/scssExports";

$parentWidth: 236px;
$contentWidth: 204px;

.container {
    @include center();
    width: 75%;
    border-right: 2px solid white;
    position: relative;
    @include mobile{
        @include flex-end();
    }
    .content {
        @include center();
        width: get_percent($contentWidth, $parentWidth);
        @include mobile{
            @include flex-end();
        }
    }
}
