@import "/styles/scss/_mixins.scss";
@import "/styles/scss/_functions.scss";

$formWidth: 752px;
$formHeight: 758px;

.container {
    @include flex-between();
    width: get-vw($formWidth);
    flex-direction: column;
    margin: auto;
    .title_container {
        @include center();
        align-items: flex-start;
        width: 100%;
        padding: 0 0 get_percent(49px, $formHeight) 0;
        p {
            margin: 0;
            font-size: 30px;
            line-height: 34px;
            letter-spacing: 0.1em;
        }
    }
    form {
        @include center();
        flex-direction: column;
        width: 100%;
    }
}
