@import "/styles/scss/_mixins.scss";

.conteiner {
    @include center();
    width: 39vw;
    flex-direction: column;
    margin: auto;

    form {
        @include center();
        flex-direction: column;
        width: 100%;
    }
}
