@import "/styles/scss/_functions";
@import "/styles/scss/_mixins.scss";
@import "/styles/scss/_variables.scss";

$modal-width: 634px;

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_container {
    @include center();
    flex-direction: column;
    width: get_percent(537px, $modal-width);
}
