@import "/styles/scss/scssExports";

$modal-width: 634px;

@mixin center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.m_container {
    .m_content {
        @include column-center();
        .login_container {
            @include column-center();
            margin: 61px 0;
            width: get_percent(537px, $modal-width);
        }
        @include mobile {
            @include center();
            width: 100vw !important;
            height: 100vh !important;
            margin: 0;
        }
    }
    @include mobile {
        height: 100%;
    }
}
