@import "/styles/scss/scssExports";

.container {
    margin-top: 52px;
    margin-bottom: 213px;
    @include center();

    @include tablet{
        margin-top: 0;
        margin-bottom: 202px;
    }

    .content {
        width: get-vw(1425px);
        @include tablet{
            width: 100vw
        }
    }
}
