@import "/styles/scss/_functions";
@import "/styles/scss/_mixins.scss";
@import "/styles/scss/_variables.scss";

.container{
    @include center();
    width: 100%;
    margin-top: 2.1%;
    .content{
        @include column-center();
        width: get-vw(1593px);
    }
}